<!-- index.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>She is the one named Sailor Vue</title>

  <!-- CSS -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div id="app">
    <div id="nav-wrapper">
    <div id="choose">Choose your Sailor Senshi.</div>
          <!-- use v-link directive for navigation. -->
  <nav><p>
      <a v-link="{ path: '/usagi' }">Moon</a>
      <a v-link="{ path: '/ami' }">Mercury</a>
      <a v-link="{ path: '/rei' }">Mars</a>
      <a v-link="{ path: '/makoto' }">Jupiter</a>
      <a v-link="{ path: '/minako' }">Venus</a>
    </p></nav>
</div>
    <!-- use router-view element as route outlet -->
    <router-view></router-view>
  <template id="usagi">
    <div class="sailor-box"><h2>You chose Usagi.</h2>
    <p class="sailor-choice">Which Sailor Moon are you playing?</p>
      <div class="checked-container">

        <input
        type="radio"
        id="smm"
        value="Sailor Moon"
        v-model="picked">
        <label for="one" class="sm">Sailor Moon</label>

        <br>
        <input type="radio"
        id="ssm"
        value="Super Sailor Moon"
        v-model="picked">
        <label for="two" class="sm">Super Sailor Moon</label>

        <br>
        <input type="radio"
        id="esm"
        value="Eternal Sailor Moon"
        v-model="picked">
        <label for="three" class="sm">Eternal Sailor Moon</label>
        <br>

        <span class="picked">You Picked: {{ picked }}</span>
      </div>

      <div id="block">
        <img class="sm-img" src="http://ib3.huluim.com/video/60386594?region=US&size=600x400">
        <br>
        <button class="sm-attacks">Yay</button> <button class="sm-no">No!</button>

        <div class="sm-info">
          Stats and turn tracker coming soon.
          </div>

        </div>

      </div>


      <div id="ssm-block">
        <img class="sm-img" src="http://images.fashionnstyle.com/data/images/full/127760/sailor-moon-super-s.jpg">
        <br>
        <button class="sm-attacks">Yay!</button> <button class="sm-no">No!</button>

        <div class="sm-info">
          Yes!
          </div>

      </div>
      <div id="esm-block"><img class="sm-img" src="https://myanimeshelf.com/autoresize/0x1000/upload/dynamic/2015-06/01/0072.jpg"></div>
    </div>
  </template>

  <template id="ami">
    <h2>Hello Ami!</h2>
  </template>

  <template id="rei">
    <h2>Hello Rei!</h2>
  </template>

  <template id="makoto">
    <h2>Hello Makoto!</h2>
  </template>

  <template id="minako">
    <h2>Hello Minako!</h2>
  </template>

  <!-- JS -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.js"></script>
  <script src="bower_components/vue-router/dist/vue-router.js"></script>
  <script src="app.js"></script>
</body>
</html>
